<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="gestor-usuarios">
 <template>
   <style>
     :host {
       display: block;
       padding: 10px;
     }
   </style>

   <div class="container">
     <div class="row">
       <h4 class="col-sm-12">Consulta de Usuarios</h4>
       <button class="btn btn-outline-secondary btn-sm" type="button"  on-click="obtenerUsuarios">Obtener usuarios</button>
     </div>
     <div hidden$="{{hiddenListado}}" class="row">
       <table class="table table-striped table-responsive-sm table-info ">
         <thead class="thead-inverse thead-dark font-weight-bold badge-info ">
           <tr>
             <td>Id  de Cliente </td>
             <td>Nombre </td>
             <td>Apellido Paterno</td>
             <td>Apellido Materno </td>
             <td>Correo</td>
           </tr>
         </thead>
           <tbody>
           <template is="dom-repeat" items="{{usuarios}}">
             <tr>
               <td>[[item.idCliente]]</td>
               <td>[[item.nombre]]</td>
               <td>[[item.apellidoPaterno]]</td>
               <td>[[item.apellidoMaterno]]</td>
               <td>[[item.email]]</td>
             </tr>
           </template>
         </tbody>
       </table>

     </div>
   </div>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorUsuarios extends Polymer.Element {
     static get is() { return 'gestor-usuarios'; }
     static get properties() {
       return {
         usuarios: {
           type: Array,
           notify: true
         },
         hiddenListado: {
           type: Boolean,
           value: true
         }
       };
     }
     incrementar() {
       this.prop2 = this.prop2 + 1;
       console.log(this.prop1);
       console.log(this.prop2);
     }
     obtenerUsuarios() {
       this.hiddenListado = false;
       var request = new XMLHttpRequest();
    //   request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
       request.open("GET", "http://localhost:3000/usuarios", false);
       request.setRequestHeader("Accept", "application/json");
       request.send();
       this.usuarios = JSON.parse(request.responseText);
       console.log(this.usuarios);
     }
   }

   window.customElements.define(GestorUsuarios.is, GestorUsuarios);
 </script>
</dom-module>
