<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="consulta-utilidades">
 <template>
   <style>
     :host {
       display: block;
       padding: 10px;
     }
   </style>
    <div class="container">
      <div class="row">
        <h4 class="col-sm-12">Utilidades </h4>

        <br>
          <div>
          <button class="btn btn-outline-info btn-sm" type="button" name="button" on-click="obtenerPrecioGasolina">Precio de gasolina</button>
          <!--button class="btn btn-outline-secondary btn-sm" type="button" name="button" on-click="obtenerTipoCambio">Tipo de cambio</button-->
          </div>
      </div>
      <div id="tablaResult" hidden$="{{hiddenPrGasolina}}" class="row">
        <table class="table table-striped table-responsive-sm table-info ">
          <thead class="thead-inverse thead-dark font-weight-bold badge-info ">
            <tr>
              <td>Razón Social </td>
              <td>Dirección </td>
              <td>Precio Magna </td>
              <td>Precio Premium </td>
              <td>No. de Permiso </td>
            </tr>
          </thead>
            <tbody>
            <template is="dom-repeat" items="{{listado}}">
              <tr>
                <td>[[item.razonsocial]]</td>
                <td>[[item.calle]]</td>
                <td>[[item.regular]]</td>
                <td>[[item.premium]]</td>
                <td>[[item.numeropermiso]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <!--div class="">
        [[objeto]]
      </div-->
    </div>
  </template>

    <script>

      class ConsultaUtilidades extends Polymer.Element {
        static get is() { return 'consulta-utilidades'; }
        static get properties() {
          return {
            listado: {
              type: Array,
              notify: true
            },
            objeto: {
              type: Array,
              notify: true
            },
            hiddenPrGasolina: {
              type: String,
              value: true
            }
          };
        }
        incrementar() {
          this.prop2 = this.prop2 + 1;
          console.log(this.prop1);
          console.log(this.prop2);
        }
        obtenerPrecioGasolina() {
          this.hiddenPrGasolina = false;
          var request = new XMLHttpRequest();
          request.open("GET", "https://api.datos.gob.mx/v1/precio.gasolina.publico",false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.listado = JSON.parse(request.responseText).results;

          console.log("listado" + this.listado);
        }

        obtenerTipoCambio() {
          this.hiddenPrGasolina = false;
          var request = new XMLHttpRequest();
          request.open("GET", "http://data.fixer.io/api/latest?access_key=eecbf32e72e7ec99c0e8ed16ab8d10d6&symbols=USD,AUD,CAD,PLN,MXN", false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.objeto = (request.responseText);
          console.log("listado" + this.objeto);
          console.log("listado" + this.objeto[1]);
          console.log(" item " + this.objeto[0]);
        }
      }

      window.customElements.define(ConsultaUtilidades.is, ConsultaUtilidades);
    </script>
   </dom-module>
