btn-sm"<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="gestor-clientes">
 <template>
   <style>
     :host {
       display: block;
       padding: 10px;
     }
   </style>

   <div class="container">
     <div class="row">
       <h4 class="col-sm-12">Gestor de clientes</h4>
       <br>
         <button class="btn btn-outline-info btn-sm" type="button" name="button" on-click="obtenerClientes">Obtener clientes</button>
         <button class="btn btn-outline-secondary btn-sm" type="button" name="button" on-click="formCliente">Nuevo cliente</button>

     </div>
     <div id="tablaResult" hidden$="{{hiddenListado}}" class="row">
       <table class="table table-striped table-responsive-sm table-info ">
         <thead class="thead-inverse thead-dark font-weight-bold badge-info ">
           <tr>
             <td>Id Cliente </td>
             <td>Nombre </td>
             <td>Apellido Paterno </td>
             <td>Apellido Materno </td>
             <td>RFC </td>
             <td>Fecha de alta </td>
           </tr>
         </thead>
           <tbody>
           <template is="dom-repeat" items="{{clientes}}">
             <tr>
               <td>[[item.idCliente]]</td>
               <td>[[item.nombre]]</td>
               <td>[[item.apellidoPaterno]]</td>
               <td>[[item.apellidoMaterno]]</td>
               <td>[[item.rfc]]</td>
               <td>[[item.fhAlta]]</td>
             </tr>
           </template>
         </tbody>
       </table>
     </div>
     <div  hidden$="{{hiddenForm}}" class="row">
       <table>
         <tbody>
           <tr>
             <td><div class="input-group input-group-sm"><span class="input-group-addon input-group input-group-sm" id="sizing-addon1">Id Cliente: </span></div></td>
             <td><input value="{{idCliente::input}}" type="text" disabled="true"   required="required">[[item.idCliente]]</td>
           </tr>
           <tr>
             <td><div class="input-group input-group-sm"><span class="input-group-addon input-group input-group-sm" id="sizing-addon1">Nombre: </span></div></td>
             <td><input value="{{nombre::input}}" type="text" autocomplete="on" maxlength="30" required="required"></td>
           </tr>
           <tr>
             <td><div class="input-group input-group-sm"><span class="input-group-addon" id="sizing-addon1">Apellido Paterno:</span> </div></td>
             <td><input value="{{apellidoPaterno::input}}" type="text" autocomplete="on" maxlength="30"  required=true  required="required"></td>
           </tr>
           <tr>
             <td><div class="input-group input-group-sm"><span class="input-group-addon" id="sizing-addon1">Apellido Materno:</span></div></td>
             <td><input value="{{apellidoMaterno::input}}" type="text" autocomplete="on" maxlength="30"  required=true  required="required"></td>
           </tr>
           <tr>
             <td><div class="input-group input-group-sm"><span class="input-group-addon" id="sizing-addon1">RFC:</span></div></td>
             <td><input value="{{rfc::input}}" type="RFC" autocomplete="on" maxlength="13"  required="required"></td>
           </tr>
         </tbody>
       </table>
       <br><br>
       <button class="btn btn-sm btn-success btn-block btn-signin " type="button" on-click="altaCliente">Enviar</button>
        <div class="input-group input-group-sm">
        <div id="Respuesta" class$="[[claseRespuesta]]">[[respuesta]]</div>
      <div id="exitoagregar" class="exitoagregar">
     </div>
   </div>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorClientes extends Polymer.Element {
     static get is() { return 'gestor-clientes'; }
     static get properties() {
       return {
         clientes: {
           type: Array,
           notify: true
         },
         ultimoCliente: {
           type: String,
           notify: true
         },
         nombre: {
           type: String,
           notify: true
         },
         apellidoPaterno: {
           type: String,
           notify: true
         },
         apellidoMaterno: {
           type: String,
           notify: true
         },
         rfc: {
           type: String,
           notify: true
         },
         idCliente: {
           type: Number,
           value: 0
         },
         fhAlta: {
           type: String
         },
         respuesta: {
           type: String,
           notify: true
         },
         claseRespuesta: {
           type: String
         }
         ,
         hiddenForm: {
           type: Boolean,
           value: true
         },
         hiddenListado: {
           type: Boolean,
           value: true
         }
       };
     }
     formCliente(){
       this.hiddenForm=false;
       this.hiddenListado =true;
       var request = new XMLHttpRequest();
       request.open("GET", "http://localhost:3000/clienteMaximo", false);
       request.setRequestHeader("Accept", "application/json");
       request.send();
       this.ultimoCliente = JSON.parse(request.responseText);
       console.log("Idcliente ultimo: "+ this.ultimoCliente);
       this.idCliente =this.ultimoCliente[0].idCliente;

       this.incrementar();
     }
     altaCliente(){
       var request = new XMLHttpRequest();
       request.open("POST", "http://localhost:3000/clienteNvo", false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       var f = new Date();
       this.fhAlta= f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear();
       var nvoCliente = {
         "idCliente": this.idCliente,
         "nombre": this.nombre,
         "apellidoPaterno": this.apellidoPaterno,
         "apellidoMaterno": this.apellidoMaterno,
         "rfc": this.rfc,
         "fhAlta": this.fhAlta
       };
              
       console.log ("nvocliente: " + JSON.stringify(nvoCliente));
       var json = JSON.stringify(nvoCliente);
       request.send(json);
       this.respuesta  = JSON.parse(request.responseText);
       console.log("REspuesta de alta: " + this.respuesta.description);
     }
     incrementar() {
       this.idCliente = this.idCliente + 1;
       console.log("incrementar: " + this.idCliente);

     }
     obtenerClientes() {
       this.hiddenForm=true;
       this.hiddenListado =false;
       var request = new XMLHttpRequest();
    //   request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
       request.open("GET", "http://localhost:3000/movimientos", false);
       request.setRequestHeader("Accept", "application/json");
       request.send();
       this.clientes = JSON.parse(request.responseText);
       console.log(this.clientes);
     }
   }

   window.customElements.define(GestorClientes.is, GestorClientes);
 </script>
</dom-module>
