<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="gestor-movimientos">
 <template>
   <style>
     :host {
       display: block;
       padding: 10px;
     }
   </style>

   <div class="container">
     <div class="row">
       <h4 class="col-sm-12">Gestor de Movimientos</h4>
       <button class="btn btn-outline-info btn-sm" type="button"  on-click="obtenerMovimientos">Obtener movimientos</button>
       <button class="btn btn-outline-secondary btn-sm" type="button" name="button" on-click="formRetiro">Realizar retiro sin tarjeta</button>
       <button class="btn btn-outline-primary btn-sm" type="button" name="button" on-click="formPagoServicio">Pago de servicios</button>
     </div>

     <div hidden$="{{hiddenListado}}" class="row">
       <table class="table table-striped table-responsive-sm table-info ">
         <thead class="thead-inverse thead-dark font-weight-bold badge-info ">
           <tr>
             <td>Fecha </td>
             <td>Tipo de movimiento </td>
             <td>Id de movimiento </td>
             <td>Descripción/Concepto</td>
             <td>Importe </td>
           </tr>
         </thead>
           <tbody>
           <template is="dom-repeat" items="{{movimientos}}">
             <tr>
               <td>[[item.listado.fecha]]</td>
               <td>[[item.listado.tipo]]</td>
               <td>[[item.listado.idMovimiento]]</td>
               <td>[[item.listado.descripcion]]</td>
               <td>[[item.listado.importe]]</td>
             </tr>
           </template>
         </tbody>
       </table>

     </div>
   </div>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorMovimientos extends Polymer.Element {
     static get is() { return 'gestor-movimientos'; }
     static get properties() {
       return {
         movimientos: {
           type: Array,
           notify: true
         },
         hiddenListado: {
           type: Boolean,
           value: true
         }
       };
     }
     incrementar() {
       this.prop2 = this.prop2 + 1;
       console.log(this.prop1);
       console.log(this.prop2);
     }
     obtenerMovimientos() {
       this.hiddenListado = false;
       var request = new XMLHttpRequest();
    //   request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
       request.open("GET", "http://localhost:3000/movimientos", false);
       request.setRequestHeader("Accept", "application/json");
       request.send();
       //this.clientes = JSON.parse(request.responseText).value;
       this.movimientos = JSON.parse(request.responseText);
       console.log(this.movimientos);
     }
   }

   window.customElements.define(GestorMovimientos.is, GestorMovimientos);
 </script>
</dom-module>
