<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-module.html">
<dom-module id="mi-login">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>



    <!-- Login -->

     <div class="container" hidden$="[[hiddenLogin]]">
       <br><br>
     <!--form action="inicio.html" method="post" name="formEntrar"-->
       <div class="input-group input-group-sm" id="formEntrar" name="formEntrar">
         <span class="input-group-addon" id="sizing-addon1"> <i class="glyphicon glyphicon-envelope"></i></span>
         <input value="{{correo::input}}" autocomplete="on" type="email" class="form-control"  placeholder="[[msjUser]]" id="Correo" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" aria-describedby="sizing-addon1" required maxlength="40" >
       </div>
       <br>
       <div class="input-group input-group-sm">
         <span class="input-group-addon" id="sizing-addon1"> <i class="glyphicon glyphicon-lock"></i></span>
         <input value="{{password::input}}" type="password"  class="form-control" placeholder="[[msjPass]]" aria-describedby="sizing-addon1"  maxlength="40" required>
       </div>
       <br>
       <div><button class="btn btn-sm  btn-secondary "  on-click="altaUsuario">¿No eres usuario aún? Da click aquí para registrarte.</a></div>
       <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit" on-click="validaLogin" >Entrar</button>
       <br>
       <div id="Respuesta" class$="{{claseRespuesta}}">[[respuesta]]</div>

     <!--/form-->

    </div>

    <mi-menu hidden$="[[hiddenMenu]]"></mi-menu>
    <alta-usuarios hidden$="[[hiddenAltaUsr]]"></alta-usuarios>

</template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiLogin extends Polymer.Element {
      static get is() { return 'mi-login'; }
      static get properties() {
        return {
          usuario: {
            type: Array,
            notify: true
          },
          msjUser: {
            type: String,
            value: 'Indique el correo de acceso a su cuenta'
          },
          msjPass: {
            type: String,
            value: 'Indique su password'
          },
          correo: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          },
          respuesta: {
            type: String,
            value: '**Todos los campos son obligatorios',
            notify: true
          },
          claseRespuesta: {
            type: String,
            value: 'alert alert-success'
          },
          loginSuccess: {
            type: Boolean,
            value: false,
            notify: true
          },
          hiddenMenu: {
            type: Boolean,
            value: false,
            notify: true
          },
          hiddenAltaUsr: {
            type: Boolean,
            value: true,
            notify: true
          },
          hiddenLogin: {
            type: Boolean,
            value: true,
            notify: true
          }

        };
      }

      altaUsuario(){
        this.hiddenAltaUsr=false;
        this.hiddenLogin=true;
        console.log(this.hiddenAltaUsr);

      }

      validaLogin() {

        if (this.correo.trim() =='' || this.password.trim() == ''){
            this.claseRespuesta='alert alert-danger';
            this.respuesta ='Todos los campos son obligatorios';
        }

         else {

           var request = new XMLHttpRequest();
           request.open("POST", "http://localhost:3000/usuarios/login", false);
           request.setRequestHeader("Accept", "application/json");
           request.setRequestHeader("Content-Type", "application/json");
           var usuario = {
             "correo": this.correo,
             "password": this.password
           }
           var body = JSON.stringify(usuario);
           request.send(body);
           console.log("Ejecutando Login");
           this.respuesta = JSON.parse(request.responseText);
           console.log(this.respuesta.body.length);
           console.log(this.respuesta.statusCode);
           console.log(this.respuesta.body);
           console.log(this.respuesta);
        //Validar sintaxis   sessionStorage.setItem("testJSON",respuesta.loginItems);


         if(this.respuesta.body && this.respuesta.statusCode===200){
          this.respuesta="loginSuccess";
          this.loginSuccess = true;
          this.hiddenLogin = this.loginSuccess;
          this.hiddenMenu =!this.loginSuccess;
          console.log("hiddenLogin "+this.hiddenLogin);
          console.log("hiddenMenu "+this.hiddenMenu);
          }
          else {
          this.respuesta="El usuario y password no coinciden con ningun registro";
          this.claseRespuesta='alert alert-danger';
          }

      }
    }


    }


    window.customElements.define(MiLogin.is, MiLogin);


  </script>
</dom-module>
