<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-module.html">

<dom-module id="alta-usuarios">
  <template>

      <div class="container">

         <div id="agregar" class="form-control">
         <div class="input-group input-group-lg">Registrar nuevo usuario</div>
         <br>
         <p class="label-info">Para agregar un nuevo usuario  rellene los siguientes campos:</p>
         <br>
        <table>
          <tbody>
            <tr>
              <td><div class="input-group input-group-sm"><span class="input-group-addon input-group input-group-sm" id="sizing-addon1">Id Cliente: </span></div></td>
              <td><input value="{{idCliente::input}}" type="number" autocomplete="off" maxlength="30" required=true  required="required"></td>
            </tr>
            <tr>
              <td><div class="input-group input-group-sm"><span class="input-group-addon input-group input-group-sm" id="sizing-addon1">Nombre: </span></div></td>
              <td><input value="{{nombre::input}}" type="text" autocomplete="off" maxlength="30" required=true  required="required"></td>
            </tr>
            <tr>
              <td><div class="input-group input-group-sm"><span class="input-group-addon" id="sizing-addon1">Apellido Paterno:</span> </div></td>
              <td><input value="{{apellidoPaterno::input}}" type="text"  maxlength="30"  required=true  required="required"></td>
            </tr>
            <tr>
              <td><div class="input-group input-group-sm"><span class="input-group-addon" id="sizing-addon1">Apellido Materno:</span></div></td>
              <td><input value="{{apellidoMaterno::input}}" type="text" maxlength="30"  required=true  required="required"></td>
            </tr>
            <tr>
              <td><div class="input-group input-group-sm"><span class="input-group-addon" id="sizing-addon1">Correo:</span></div></td>
              <td><input value="{{email::input}}" type="email" value="{{correo}}" autocomplete="off" maxlength="30" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"  required="required"></td>
            </tr>
            <tr>
              <td><div class="input-group input-group-sm"><span class="input-group-addon" id="sizing-addon1">Constraseña:</span></div></td>
              <td><input value="{{password::input}}" type="password"  maxlength="12" pattern="[A-Za-z0-9!?-]{8,12}"  required="required"></td>
            </tr>
            <tr>
              <td><div class="input-group input-group-sm"><span class="input-group-addon" id="sizing-addon1">Confirmar constraseña:</span></div></td>
              <td><input type="password" value=""  maxlength="12"  required="required"></td>
            </tr>
          </tbody>
        </table>
        <br><br>
        <button class="btn btn-sm btn-success btn-block btn-signin" type="button" on-click="altaUsuario">Enviar</button>
         <div class="input-group input-group-sm btn-sm">
         <div id="Respuesta" class$="{{claseRespuesta}}">[[respuesta]]</div>
       <div id="exitoagregar" class="exitoagregar">

         <br><br>

       </div>

    </div>
    </template>

  <script>

  class AltaUsuarios extends Polymer.Element {
    static get is() { return 'alta-usuarios'; }
    static get properties() {
      return {
        respuesta: {
          type: String,
          notify: true
        },
        claseRespuesta: {
          type: String,
          notify: true
        },
        nombre: {
          type: String,
          notify: true
        },
        apellidoPaterno: {
          type: String,
          notify: true
        },
        apellidoMaterno: {
          type: String,
          notify: true
        },
        email: {
          type: String,
          notify: true
        },
        password: {
          type: String,
          notify: true
        },
        idCliente: {
          type: Number,
          notify: true
        }
      };
    }

    altaUsuario(){

        var request = new XMLHttpRequest();
        var nvoUsuario = {
          "idCliente": this.idCliente,
          "nombre": this.nombre,
          "apellidoPaterno": this.apellidoPaterno,
          "apellidoMaterno": this.apellidoMaterno,
          "email": this.email,
          "password":this.password
        };

        var json = JSON.stringify(nvoUsuario);
        console.log("JSON contenido: " +json);

        request.open('POST', "http://localhost:3000/usuario", false);
      //  request.setRequestHeader('Content-type','application/json; charset=utf-8','Access-Control-Allow-Methods=*');
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.send(json);
      //  this.$.exitoagregar.style.display = "block";
      //  this.$.agregar.style.display = "none";
        this.respuesta = JSON.parse(request.responseText);
        if (this.respuesta.statusCode===201){
          this.claseRespuesta='alert alert-info';
          this.respuesta = this.respuesta.description;
        }
        else {
            this.claseRespuesta='alert alert-danger';
            this.respuesta = this.respuesta.description;
        }


        console.log( this.respuesta.description);
      }


  }
    window.customElements.define(AltaUsuarios.is, AltaUsuarios);
  </script>
</dom-module>
