<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-module.html">
<dom-module id="mi-menu">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<span style="text-xs-left">Bienvenid@ Misgab Herrejón </span>
    <!--Inica Menù-->
           <nav class="navbar navbar-dark bg-secondary  navbar-expand-lg ">
           <img class="navbar-brand col-lg-1 " src="https://image.flaticon.com/icons/svg/1235/1235803.svg" alt="Mi banquito">

           <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
             <!--li class="nav-item active">
               <a class="nav-link" href="#">Mi banquito<span class="sr-only">MB</span></a>
             </li-->
             <li class="nav-item active">
               <a class="nav-link" target="_self" on-click="verMovimientos" role="navigation">Movimientos</a>
             </li>
             <li class="nav-item active">
               <a class="nav-link" target="_self" on-click="verClientes" role="navigation">Clientes</a>
             </li>
             <li class="nav-item active">
               <a class="nav-link" target="_self" on-click="verUsuarios" role="navigation">Usuarios</a>
             </li>
             <li class="nav-item active">
               <a class="nav-link" target="_self" on-click="verUtilidades" role="navigation">Utilidades</a>
             </li>
           </ul>
           </div>
           </nav>

           <!--termina menù -->

           <gestor-clientes hidden$="{{hiddenClientes}}"></gestor-clientes>
           <gestor-movimientos hidden$="{{hiddenMovimientos}}"></gestor-movimientos>
           <gestor-usuarios hidden$="{{hiddenUsrs}}"></gestor-usuarios>
           <consulta-utilidades hidden$="{{hiddenUtilidades}}"></consulta-utilidades>

</template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiMenu extends Polymer.Element {
      static get is() { return 'mi-menu'; }
      static get properties() {
        return {
          msjUser: {
            type: String,
            value: 'Indique el correo de acceso a su cuenta'
          },
          msjPass: {
            type: String,
            value: 'Indique su password'
          },
          hiddenClientes:{
            type: Boolean,
            value: true
          },
          hiddenMovimientos:{
            type: Boolean,
            value: true
          },
          hiddenUsrs:{
            type: Boolean,
            value: true
          },
          hiddenUtilidades:{
            type: Boolean,
            value: false
          }
        };
      }

      ocultarVentanas(){
        console.log ("ocultar ventanas" );
        this.hiddenClientes = true;
        this.hiddenMovimientos = true;
        this.hiddenUsrs = true;
        this.hiddenUtilidades =true;

      }
      verMovimientos (){
        this.hiddenClientes = true;
        this.hiddenUsrs = true;
        this.hiddenUtilidades =true;
        this.hiddenMovimientos = false;
      }
      verUsuarios() {
        this.hiddenClientes = true;
        this.hiddenMovimientos = true;
        this.hiddenUtilidades =true;
        this.hiddenUsrs = false;
        console.log("hiddenUsrs "+this.hiddenUsrs);
      }
      verClientes(){
        this.hiddenMovimientos = true;
        this.hiddenUsrs = true;
        this.hiddenUtilidades =true;
        this.hiddenClientes = false;
        console.log("hiddenClientes "+this.hiddenClientes);
      }
      verUtilidades() {
        this.hiddenClientes = true;
        this.hiddenMovimientos = true;
        this.hiddenUsrs = true;
        this.hiddenUtilidades = false;
        console.log("hiddenUtilidades "+this.hiddenUtilidades);
      }
    }

    window.customElements.define(MiMenu.is, MiMenu);
  </script>
</dom-module>
